#settings-panel {
  position: absolute;
  left: $m-size;
  bottom: $m-size;
  background-color: black;
  border-radius: 5px;
  padding: $s-size;
  opacity: 0.1;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.show {
    opacity: 1;
  }

  .settings-button {
    margin: 0;
    padding: 0px 4px;
    background: none;
    border: 0;
    font-size: $l-size;
    color: $white;
    font-weight: bold;
    display: none;
  }
}

#settings-info {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}